<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    </head>

        <button class="btn btn-primary mt-0 ms-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">Menu</button>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title">Menu de Bookbuster</h5>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div>
					En este menu podrás descubrir todo el catalo de libros disponibles en venta.
				</div>
				<div class="dropdown mt-4">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="dropdownMenu"> Generos </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
						<li><a href="#" class="dropdown-item">Terror</a></li>
						<li><a href="#" class="dropdown-item">Ciencia Ficcion</a></li>
						<li><a href="#" class="dropdown-item">Drama</a></li>
						<li><a href="#" class="dropdown-item">Comedia</a></li>
						<li><a href="#" class="dropdown-item">Mangas</a></li>
						<li><a href="#" class="dropdown-item">Auto-ayuda</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Contenido de off canvas, end.  -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </div>

<div style="position: relative; display: flex; justify-content: center;">
  <a style="display: flex; align-items: center; justify-content: center; width: 50%; height: 100%;">
    <img src="https://www.elindependiente.com/wp-content/uploads/2022/12/creative-world-book-day-composition-656x368.jpg" alt="Descripción de la imagen" style="width: 100%; height: 100%;">
    <div style="position: absolute; top: 0; left: 0; width: 100%; height=100%; display: flex; align-items: center; justify-content: center;">
      <h1 class="text-center text-white"><font face="Times New Roman"><strong>Bookbuster</strong></font></h1>
    </div>
  </a>
</div>



<div class="container my-5">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <button class="card-img-top btn btn-secondary">
                    <img src="https://m.media-amazon.com/images/I/51-c3DSNNKL.jpg" alt="Libro de Kamasutra" width="200" height="300" class="mx-auto">
                </button>
                <h2><font face="georgia">"El Kamasutra de la innovación"</font></h2>
                <p>Libro destinado para el uso en pareja.</p>
                <a class="btn btn-secondary" href="#" role="button">Comprar</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <button class="card-img-top btn btn-secondary">
                    <img src="https://m.media-amazon.com/images/I/81z9TqwzoUL.jpg" alt="Ciudades de Papel" width="200" height="300" class="mx-auto">
                </button>
                <h2 class="text-center text-black"><font face="georgia">"Ciudades de Papel"</font></h2>
                <p>Libro de género dramático recomendado para los jóvenes.</p>
                <a class="btn btn-secondary" href="#" role="button">Comprar</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <button class="card-img-top btn btn-secondary">
                    <img src="https://m.media-amazon.com/images/I/51V8-uXFFSL.jpg" alt="El libro troll"  width="200" height="300" class="mx-auto">
                </button>
                <h2 class="text-center text-black"><font face="georgia">"El Libro Troll"</font></h2>
                <p>Libro de género de comedia destinado para los jóvenes.</p>
                <a class="btn btn-secondary" href="#" role="button">Comprar</a>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>